/* || General Styles */

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.intro {
    padding-top: 17vw;
    padding-bottom: 10vw;
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.intro img {
    width: 15vw;
}

body {
    background-color: #DEF7EB;
}

section {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 200px;
    padding-right: 200px;
}

.last {
    padding-bottom: 4vh;
}

.btn {
    width: 40px;
    height: 40px;
    background-color: #6393AA;
    border-style: none;
}

.git {
    background-image: url("Assets/github_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: #6393AA;
    margin-right: 20px;
}

.lin {
    background-image: url("Assets/linkedin_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: #6393AA;
    margin-right: 20px;
}

.git:hover, .lin:hover {
    background-color: black;
}

button.resume {
    width: 100px;
    right: 500px;
}

a {
    color: black;
    text-decoration: none;
}

.round {
    border-radius: 50%;
}

svg {
    text-align: center;
    padding: 0px 0px 0px 0px;
    background-color: inherit;
}

.circle {
    border-radius: 50%;
    width: 0.9vw;
    height: 0.9vw;
    background-color: #DEF7EB;
    position: relative;
    animation-name: cool;
    animation-duration: 8s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes cool {
    0%   {background-color: #6393AA; left:-4%; top:0%;}
    25%  {background-color: #303538; left:100%; top:0%;}
    50%  {background-color: #6393AA; left:100%; top:93%;}
    75%  {background-color: #303538; left:-4%; top:93%;}
    100% {background-color: #6393AA; left:-4%; top:0%;}
}

.card {
    width: 18rem;
}

/* || Header and Navigation */

.navbar-light .navbar-nav .nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    color: #303538;
    transition: background-color 0.5s, color 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
    background-color: #C6F7DF;
}

.navbar{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #DEF7EB;
    box-shadow: 0 1px 5px 0px rgb(0 0 0 / 50%)
}

a.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16pt;
}

a.footer {
    margin-top: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #303538;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    text-align: center;
}

a.footer:hover {
    color: black;
    background-color: #C6F7DF;
}

div.footer {
    text-align: center;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade {
    opacity: 0;
}

/* || Typography */

h3, h4, h5, u {
    color: #303538;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

h1, h2 {
    color: #6393AA;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

p {
    font-size: 16pt;
    padding-bottom: 0px;
}

li {
    color: #303538;
    font-size: 16pt;
}

.joke {
    color: #303538;
    font-size: 10pt;
    font-weight: 600;
}

/* || Media Queries */

@media screen and (min-width: 961px) {
    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3, h4 {
        font-size: calc(1.275rem + .3vw);
    }

    p, li {
        font-size: 16pt;
    }

    a.footer {
        font-size: 16pt;
        padding-top: 20pt;
        padding-bottom: 20pt;
        padding-right: 20pt;
        padding-left: 20pt;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 960px) {
    .card {
        width: 9rem;
    }

    .card h5, .card p, .card button {
        font-size: 2vw;
    }

    .intro img {
        width: 27.5vw;
    }

    .circle {
        width: 10px;
        height: 10px;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4.5vw;
    }

    h3, h4, h5, u {
        font-size: calc(1.1rem + .3vw);
    }

    p, li {
        font-size: 14pt;
    }

    a.footer {
        font-size: 14pt;
        padding-top: 16pt;
        padding-bottom: 16pt;
        padding-right: 16pt;
        padding-left: 16pt;
    }

    svg {
        width: 16px;
        height: 16px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 5rem;
    }

    .card button {
        font-size: 2vw;
        width: 10vw;

    }

    .card h5, .card p {
        font-size: 2vw;
    }

    .intro {
        padding-top: 30%;
    }
    .intro img {
        width: 40vw;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 7vw;
    }

    h3, h4, h5, u {
        font-size: calc(0.9rem + .3vw);
    }

    p, li {
        font-size: 12pt;
    }

    a.footer {
        font-size: 12pt;
        padding-top: 12pt;
        padding-bottom: 12pt;
        padding-right: 12pt;
        padding-left: 12pt;
    }

    svg {
        width: 12px;
        height: 12px;
    }
}